.wpapper {
  min-height: 100%;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include flexbox();
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.content {
}

.generation {
  padding: 120px 0px;
  background-color: #f7f7f7;
  &__block {
  }
  @media (max-width: 900px) {
    padding: 80px 0px;
  }
  @media (max-width: 600px) {
    padding: 30px 0px;
  }
}
.block {
  text-align: center;
  &__icon {
    margin: 0px 0px 33px 0px;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0px 0px 18px 0px;
    line-height: 24px;
  }

  &__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
  }
}
// @media (max-width: 1200px) {
//    .container {
//       max-width: 970px;
//    }
// }
// @media (max-width: 992px) {
//    .container {
//       max-width: 750px;
//    }
// }
// @media (max-width: 767px) {
//    .container {
//       max-width: none;
//    }
// }
// .two-block {
//    margin: 0px 0px 30px 0px;
// }
// .two-block__row {
//    display: flex;
//    margin: 0px -15px;
// }
// .two-block__colum {
//    flex: 0 1 50%;
//    padding: 0px 15px;
// }
// .three-block {
//    margin: 0px 0px 30px 0px;
// }
// .three-block__row {
//    display: flex;
//    margin: 0px -15px;
// }
// .three-block__colum {
//    flex: 0 1 33.333%;
//    padding: 0px 15px;
// }
