@mixin anim($time, $delay) {
  transition: all $time ease $delay;
}
@mixin scale($num) {
  transform: scale($num);
}
@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin tr($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
  display: flex;
  font-size: 0;
}
@mixin flexorder($val) {
  box-ordinal-group: $val;
}
